# Add directories, files, and symbolic links which should not be stored within
# the repository here.

# Helper files requiring special attention
!.gitignore
!.gitattributes

# Project files
/.cache/
/.fleet/
/.idea/
/.vscode/

# OS specific temporary files
.DS_Store
Thumbs.db

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
webhook

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Dependency directories
vendor/

# Build artifacts
dist/
bin/
